<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
  <target xsi:type="File" name="allfile" fileName="/var/log/Gateway/allLogs/core-${shortdate}.log"
          layout="${longdate}|${logger}-${uppercase:${level}}:${message} ${exception:format=tostring}"/>

  <target xsi:type="Console" name ="console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile,console" final="true"/>
  </rules>
</nlog>